* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./assets/fon3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-height: 100px;
}
header h1 {
  font-size: 36px;
  background: linear-gradient(45deg, #e7e7ec, #f0effa, #fefff0);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
header .input-container {
  position: relative;
  display: inline-block;
}
header .clear-icon {
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(125, 132, 214);
}
header .input {
  border: 3px solid #3d52ca;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.matrix {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, calc(33% - 20px));
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.image-container {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  transition: all 1s ease;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  transition: all 1s ease;
}
img:hover {
  transform: scale(1.05);
}